body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: black;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}



/*Card__link*/

a.card__link {
    display: inline-block;
    transition: all 0.2s ease-in;

    text-decoration: none;
    color: black;
}


/*Container*/

.container {
    width: 100%;
    max-width: 1200px;
    padding: 60px 15px 60px 15px;
    margin: 0 auto;
}

/*Wrapper*/
.wrapper {
    display: flex;
}


/*Row*/
.row {
    display: flex;
    justify-content: space-between;
}

/*Main=================*/

.main {
    width: 870px;
}

.main + .sadebar {
    margin-left: 30px;
}

.cards-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-holder > .card__link {
    margin-bottom: 30px;
}


/*Card*/
.card {
    width: 270px;
    background-color: white;
    position: relative;
}

.card__content {
    padding: 15px 15px 20px;
}

.card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;

    margin-bottom: 10px;
}



.card__underground {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}

.card__underground:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: baseline;
    width: 16px;
    height: 11px;
    background-image: url('../img/Moscow_Metro%201.svg');
    background-repeat: no-repeat;
    background-size: initial;

}

.card__address {
    font-size: 14px;
    line-height: 1.14;
    color: #777;
}

/*Card__badges---------------*/


.card__badges {
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;

}

.card__badge--class {
    background: #FFCF26;
}

.card__badge--address {
    background: #11BE75;
}

.card__badges > * + * {
    margin-left: 10px;
}

.card__badge {
    display: inline-block;
    border-radius: 4px;
    height: 22px;
    padding: 0 10px;

    font-size: 14px;
    line-height: 22px;
    color: black;
}


/*button*/

.btn-more {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px;

    font-size: 18px;
    line-height: 21px;
    color: #4290C9;


    border-radius: 4px;
    transition: all 0.2s ease-in;

    border: 0;
    cursor: pointer;
}

.btn-more:hover {
    background: #E5E5E5;
}

.btn-more img {
    margin-right: 10px;
}

@media (max-width: 599px) {
    .cards-holder {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}