@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body{
    background-color: rgb(233, 203, 148);
    text-align: center;
    font-family: "Caveat", cursive;
}
img{
    width: 400px;
}
